/*BODY*/



/*NAV BAR*/
.navbar{
  min-height:100px;
  border:none;
}

.navbar-inverse{
  background-image:none;
  background-color: white;
}





/*OLD CSS*/

h1{
  font-size:60px;
  text-align:left;
  font-family: 'Architects Daughter';
  font-color:black;
  margin-left:15px;
  margin-top:15px;
}

h4{
  margin-top: -30px;
}

.sm1{
  margin-left:900px;
  position:absolute;
  display:inline;
  margin-top:-70px;
  color:black;
  font-family: 'Architects Daughter';
  font-size:12px;
  text-decoration:none;
}


.sm3{
  margin-left:1040px;
  position:absolute;
  display:inline;
  margin-top:-70px;
  color:black;
  font-family: 'Architects Daughter';
  font-size:12px;
  text-decoration:none;
}

.sm1 a:hover {
  color:#69DB87;
}
.sm2 a:hover {
  color:#69DB87;
}
.sm3 a:hover {
  color:#69DB87;
}





.home{
  font-family: 'Architects Daughter';
  position:absolute;
  display:inline;
  font-color:black;
  margin-left:220px;
  margin-bottom:10px;
  font-size:50px;
}

.about{
  font-family: 'Architects Daughter';
  position:absolute;
  display:inline;
  font-color:black;
  margin-left:425px;
  margin-bottom:10px;
  font-size:50px;
}

.blog{
  position:absolute;
  display:inline;
  font-color:black;
  margin-left:630px;
  margin-top:-5px;
  font-size:50px;
  font-family: 'Architects Daughter';
}

.projects{
  font-family: 'Architects Daughter';
  position:absolute;
  display:inline;
  font-color:black;
  margin-left:835px;
  margin-bottom:10px;
  font-size:50px;
}







nav a:hover{
  color:#69DB87;
}



