
h1{
  font-size:60px;
  text-align:left;
  font-family:helvetica;
  font-color:black;
  margin-left:15px;
  margin-top:15px;
}

li{
  text-align:right;
  margin-right:10px;
  margin-top:15px;
  font-color:black;
  a:hover:#69DB87;
  font-family:helvetica;
  font-size:12px;
    }

}

.about{
    font-color:black;
    hover:#69DB87
    position:fixed;
    margin-top:50px;
    margin-left:210px;
    margin-bottom:10px;
    }
.blog{
    font-color:black;
    hover:#69DB87
    position:fixed;
    margin-top:50px;
    margin-left:110px;
    margin-bottom:10px;
    }

.projects{
    font-color:black;
    hover:#69DB87
    position:fixed;
    margin-top:50px;
    margin-left:10px;
    margin-bottom:10px;
    }

footer{
font-color:black;
text-align: center;
font-size: 8px;
font-family:helvetica;
}

a{
text-decoration:none;
}

img{
width:1123px;
height:614px;
text-align:center;
}