

*{
  margin:0;
}

html, body {
  width: auto !important;
  overflow-x: hidden !important;
}



/*BODY*/

/*NAV BAR*/

.nav-list{
  color:orange;

}

.navbar-brand{
  font-size: 30px;
  font-weight: 100;
}

.navbar-default{
  color:#DBA24D;
  font-size: 20px;
  font-weight: 200;
  font-family: font-family: 'Patua One', cursive;
  margin-right: 0px;


}

.div-box{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}


.skill-header{
  text-align: center;
  color:black;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 5em;
  font-family: font-family: 'Patua One', cursive;
}

a.nav-buttons:hover{
 text-decoration: none;
}

.navbar-nav{
  list-style: none;
}

.navbar{
  background: transparent;
  border:none;
  box-shadow: none;
}

.background{
 background-color:white;
}


.navbar-toggle{
  background-color:white;
}

.icon-bar{
  background-color:white;
}

.nav{
  text-align: left;

}

.index-container{
  margin-bottom: 220px;
}



#index{
  background-image: url("../lights .jpg");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-repeat: no-repeat;*/
  width: 100%;
  min-height: 100%;
}




.center-list{ /*line up name, button, line on page*/
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

.center{ /*line up name, button, line on page*/
  padding-right: 0px;
  text-align: center;
}


/*name and button*/

.name{ /*<--title and paragraph-->*/
  font-size: 7em;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 20%;
}
.web{ /*<--title and paragraph-->*/
  font-size: 7em;
  font-weight: 400;
  color: white;
  font-family: font-family: 'Patua One', cursive;
  margin-left: 0px;
  text-align: center;
  margin-top: 10px;
}


.get-in-touch{
  margin-top: 40px;
  background-color: transparent;
  border:2px white solid;
  color: #777;
  font-size:25px;
  font-family: font-family: 'Patua One', cursive;
  font-weight: 100;
  position:relative;
  text-align: center;
}


.get-in-touch:hover{
  background-color:white;
}


/*ABOUT SECTION*/


#about{
  background-color:white;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about-container{
  margin-bottom: 110px;
}


.head-shot{
  margin-top: 30px;
  max-width: 80%;
  max-height: 100%;
}

.bio{
  font-size: 2em;
  color:#777;
  margin-top: 65px;
  letter-spacing: 2px;
  font-weight: 100;
}

/*skills */

#skills{
  background-color:#f3f3f3;
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}

.skills-container{
  margin-bottom: 20px;
}

.skill-header-skills{
  text-align: center;
  color:black;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 5em;
  font-family: font-family: 'Patua One', cursive;
}

.div-box-skills{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:50px;
  margin-top: 30px;
}





i.fa {
  font-size: 40px;
}


.language-text{
  font-size:20px;
}

.languages{
  color:#5CB8E6;
  font-family: inherit;
  display: inline-block;
  padding:30px;
  margin-bottom: 30px;
}

.language-divs{
  margin-top: 20px;
  text-align: center;
}


/*PROJECT SECTION*/
.skill-header-projects{
  text-align: center;
  color:black;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 5em;
  font-family: font-family: 'Patua One', cursive;
}

.div-box-projects{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:20px;
  margin-top: 30px;
}

#project{
  background-color: white;
}

.projects-container{
  margin-bottom: 50px;
}

.slide-image{
  margin-bottom: 140px;
}

.carousel-caption{
 text-align: center;
 bottom: -170px;
}

.caption{
  margin-bottom: 20px;
}


.carousel-control {
  top:40%;
  opacity: 10;
}

.center-block{
  text-align: center;
}

.project-section{
  background-color: white;
  margin-bottom: 30px;
}


.carousel-control.right {
  background-image:none;
  font-size: 50px;
  color:#DBA24D;
  text-shadow:none;
}

.carousel-control.left{
  background-image:none;
  font-size: 50px;
  color:#DBA24D;
  text-shadow:none;
}

.cat-site-caption{
  font-family: inherit;
  color: #6C6C50;
  text-shadow:none;
  font-weight: 300;
}

.cat-site-caption-hidden{
  font-family: inherit;
  color: #6C6C50;
  text-shadow:none;
  font-weight: 300;
  display:none;
}

.sub-cat-site-caption{
  font-family: inherit;
  color: #6C6C50;
  font-size: 20px;
  text-shadow:none;
  font-weight: 100;
}


.sub-cat-site-caption-hidden{
  font-family: inherit;
  color: #6C6C50;
  font-size: 20px;
  text-shadow:none;
  font-weight: 100;
  display:none;
}

.sub-cat-site-caption2{
  font-family: inherit;
  color: #6C6C50;
  font-size: 20px;
  text-shadow:none;
  font-weight: 300;
}

.click-to-view{
  margin-top: 10px;
  margin-bottom:30px;
  background-color: transparent;
  border:2px #DBA24D solid;
  color: #DBA24D;
  font-size:25px;
  font-family: font-family: 'Patua One', cursive;
  font-weight: 100;
  position:relative;
  text-align: center
}

.click-to-view:hover{
  background-color:#DBA24D;
  color:white;
}

.carousel-indicators .active{
  background-color:#DBA24D;
}

.carousel-indicators li {
   border:1px solid #DBA24D;
}

.carousel-indicators {
margin-bottom: -10px;
}



/*CONTACT SECTION*/
#contact{
  background-image:url("../citystreet.png");
  background-attachment:fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}

.contact-container{
  margin-bottom: 120px;
}

.contact-section{
  background-color: #6C6C50;
}

.div-box-contact{
 border-bottom: solid 1px white;
 margin-bottom:150px;
 margin-top: 20px;
}

.skill-header-contact{
  text-align: center;
  color:white;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 5em;
  font-family: font-family: 'Patua One', cursive;
}


.center{
  text-align: center;
}


.contact-info{
  font-size:1.7em;
  color:white;
  letter-spacing: 2px;
  font-weight: 100;
}

.contact-info2{
  font-size:1.7em;
  color:white;
  letter-spacing: 2px;
  font-weight: 100;
}

a.contact-info2:hover, a.contact-info:hover{
  text-decoration: none;
  color:white;
}

.border{
  border-bottom: solid 1px white;
  margin-top: 60px;
  margin-bottom: 20px;
}

.fa-envelope{
  color:white;
  margin-right:20px;
}

.fa-phone-square{
  color:white;
  margin-right:20px;
}


/*social media icons*/
.github{
  margin-left:-25px;
}

.icons{
  list-style-type: none;
  text-align: center;
  color:white;
  font-size: 40px;
}

.socialmedia-icons{
  display: inline-block;
  text-decoration: none;
}

.space{
  margin-right: 23px;
}

.fa-github:hover{
  color:black;
}

.fa-linkedin:hover {
  color:#007bb6
}

.fa-twitter:hover{
  color:#00aced;
}

.fa-facebook:hover{
  color:#3b5998;
}


.fa-linkedin, .fa-twitter, .fa-facebook, .fa-github{
  color:white;
}

.icons{
  margin-bottom: 120px;
}


/*<!-- media queries -->*/



/*tablet-size lrg */
@media screen and (max-width:991px)  {

  .head-shot{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 50px;

  }

  .bio{
    font-size: 1.7em;
    color:#777;
    margin-top: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 50px;
  }

  .web{
    font-size: 6.2em;
  }

}


/*tablet-size med*/
@media screen and (max-width:768px)  {

  .navbar{
    background-color: white;
  }

  i.fa {
    font-size: 35px;
  }

  .language-text{
    font-size:15px;
  }

  .section-header{
    font-size:3em;
  }

  /*index section*/
   .name{
    font-size: 5em;
    margin-top: 38%;
  }
  .web{
    font-size: 4.8em;
  }

  /*  about section*/

 .skill-header, .skill-header-skills .skill-header-projects{
    margin-top:70px;
    margin-bottom:10px;
    font-weight: 100;
    font-size: 3em;
    font-family: font-family: 'Patua One', cursive;
  }

   .skill-header-contact{
    font-size:3em;
    color:white;
  }


  .head-shot{
   margin-top: 30px;
   max-width: 60%;
   max-height: 100%;
 }

 .about-container{
  margin-bottom: 20px;
}

.skills-container{
  margin-bottom: 5px;
}


}


/*tablet-size sm*/
@media screen and (max-width:580px)  {


  /*index section*/
  .name{
    font-size: 3em;
    margin-top: 55%;
  }
   .web{
    font-size: 3em;
  }

  /*about section*/
  .bio{
    margin-bottom: 10px;
  }

  .about-container{
    margin-bottom: 20px;
  }

  .head-shot{
   margin-top: 20px;
   max-width: 80%;
   max-height: 100%;
   margin-bottom: 10px;
 }

 .skill-header-skills, .skill-header-projects{
  text-align: center;
  color:black;
  margin-top:70px;
  margin-bottom:10px;
  font-weight: 100;
  font-size: 3em;
  font-family: font-family: 'Patua One', cursive;
}
 .skill-header-contact{
    font-size:3em;
    color:white;
  }


.get-in-touch{
  background-color:white;
}

 /*skills section*/

 /*projects section*/
.carousel-caption{
 text-align: center;
 bottom: -200px;
}

.click-to-view{
  margin-bottom: 80px;
}

.carousel-indicators{
  margin-bottom: -40px;
}

.project-section{
  margin-bottom: 60px;
}

}



/*mobile-size*/
@media screen and (max-width:450px)  {

/*@media (min-width: 768px){
#index {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }}
*/
/*@media (min-width:500){
  #index{
background-attachment:fixed;
}}*/

.index-container{
  margin-bottom: 30px;
}

.contact-container{
    margin-bottom: 30px;
}



#index {
    position: relative;
    display: block;
    height: auto;
    width: auto;
    background-color: #222222;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    margin-bottom: 0px;
}

#contact{
    position: relative;
    display: block;
    height: auto;
    width: auto;
    background-color: #222222;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    margin-bottom: 0px;
}




  /*index section*/
  .name{
    font-size: 2.2em;
    margin-top: 48%;
    font-weight: 700;
  }
.web{
  font-size: 2.1em;
  font-weight: 700;
}

.get-in-touch{
  margin-top: 20px;
}

.contact-info{
  font-size:1.2em;
  color:white;
  letter-spacing: 2px;
  font-weight: 300;
}
}

.contact-info2{
  font-size:1.2em;
  color:white;
  letter-spacing: 2px;
  font-weight: 300;
}
}

/*skills section */

  .skill-header-contact, .skill-header-skills, .skill-header, .skill-header-projects{
    font-size:2.4em;
    margin-top: 30px;
  }


  .skill-header-contact{
    color:white;
  }

  .portfolio-image{
    width:64%;
  }

  /*projects section*/

  .carousel-caption{
 text-align: center;
 bottom: -330px;
 margin-right: 0px;
 font-size:
}


.cat-site-caption{
  display:none;
}

.sub-cat-site-caption{
  display:none;
}

.sub-cat-site-caption2{
  font-family: inherit;
  color: #6C6C50;
  font-size: 18px;
  text-shadow:none;
  font-weight: 300;
}


.sub-cat-site-caption-hidden{
  font-family: inherit;
  color: #6C6C50;
  font-size: 18px;
  text-shadow:none;
  font-weight: 100;
  display:inline;
}

.cat-site-caption-hidden{
  font-family: inherit;
  color: #6C6C50;
  text-shadow:none;
  font-weight: 300;
  display:inline;
}


.carousel-indicators{
  margin-bottom: -40px;
}
.click-to-view{
  background-color: #DBA24D;
  color:white;
  margin-bottom: 160px;
  margin-top: 0px;
}

.div-box-skills{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:10px;
  margin-top: 20px;
}

.div-box-contact{
  border-bottom: solid 1px white;
  margin-bottom:80px;
  margin-top: 20px;
}

.head-shot{
  margin-top: 5px;
}

.div-box-projects{
  border-bottom: solid 1px #DBA24D;
  margin-bottom:60px;
  margin-top: 20px;
}

}

