<link rel="stylesheet" type="text/css" href="emilyboer.github.io/index.html">

#title{
  font-size:60px;
  text-align:left;
  font-family:Roboto Condensed;
  text-color:black;
  margin-left:15px;
  margin-top:15px;
}

div{
  text-align:right;
  margin-right:10px;
  margin-top:15px;
  text-color:black;
  a:hover:#69DB87;
  font-family:Roboto Condensed;
    }

img {
text-align: centered;
}

.about {
text-color:black;
hover:#69DB87
}

.blog{
text-color:black;
hover:#69DB87
}

.projects{
text-color:black;
hover:#69DB87
}

td {
font-size:70px;
}